click==8.0.1
colorama==0.4.4
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
nltk==3.6.2
numpy==1.19.3
regex==2021.7.6
scipy==1.6.0
six==1.15.0
textblob==0.15.3
Theano==1.0.5
tqdm==4.61.2
Werkzeug==2.0.1
