<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Donate</title>
        <link rel="stylesheet"  href="{{url_for('static',filename='css/nicepage.css') }}" media="screen">
<link rel="stylesheet" href="{{url_for('static',filename='css/Donate.css') }}" media="screen">
   <script src="{{url_for('static', filename='js/jquery.js')}}" class="u-script" type="text/javascript" defer=""></script>
  <script src="{{url_for('static', filename='js/nicepage.js')}}" class="u-script" type="text/javascript" defer=""></script>
  <script type="text/javascript" src="//static.nicepage.com/shared/assets/jquery-1.9.1.min.js" defer="defer"></script>

    <link rel="icon" href="{{url_for('static',filename='images/Untitled_Artwork_2.png')}}">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    

    <meta name="theme-color" content="#803bec">
    <meta property="og:title" content="Donate">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-header u-valign-middle u-header" id="sec-8624" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><a href="" data-page-id="508795" class="u-image u-logo u-image-1" data-image-width="1920" data-image-height="907" title="Home">
        <img src="{{url_for('static',filename='images/Untitled.png')}}" class="u-logo-image u-logo-image-1" data-image-width="200.1772">
      </a><nav data-position="" class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XL">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
          <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-grey-80" href="#" style="padding: 2px 0px; font-size: calc(1em + 4px);">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Page-4.html" style="padding: 10px 20px;">About Us</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 20px;">Contact Us</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 20px;">Donate</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Shop.html" style="padding: 10px 20px;">Page 1</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="ShopSpecific.html" style="padding: 10px 20px;">Page 1</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Page-1.html" style="padding: 10px 20px;">Page 1</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
                          <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 18px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_27c0" style="padding: 18px 20px;">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-a9ff" style="padding: 18px 20px;">Contact Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Donate.html" style="padding: 18px 20px;">Donate</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><nav class="u-align-right u-hidden-xs u-menu u-menu-dropdown u-offcanvas u-menu-2" data-responsive-from="MD">
        <div class="menu-collapse" style="font-size: 1.125rem;">
          <a class="u-button-style u-nav-link" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-b1b6" data-page-id="508795">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_27c0" data-page-id="508795">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-6626" data-page-id="508795">Our Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-a9ff" data-page-id="508795">Contact Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_6589" data-page-id="508795">Sponsor</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Donate.html">Donate</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" data-page-id="508795">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_27c0" data-page-id="508795">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-6626" data-page-id="508795">Our Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-a9ff" data-page-id="508795">Contact Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_6589" data-page-id="508795">Sponsor</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Donate.html">Donate</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><nav class="u-align-left u-hidden-xs u-menu u-menu-dropdown u-offcanvas u-menu-3" data-responsive-from="MD">
        <div class="menu-collapse" style="font-size: 1.125rem;">
          <a class="u-button-style u-custom-text-decoration u-nav-link" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-5"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Shop.html#sec-4e2d" data-page-id="516596" style="padding: 10px 20px; text-decoration: underline !important;">Shop</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-6"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Shop.html#sec-4e2d" data-page-id="516596" style="padding: 10px 20px; text-decoration: underline !important;">Shop</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav></header>
    <section class="u-clearfix u-palette-4-base u-section-1" id="sec-41d8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">Donate to Aster </h1>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-tab-links-align-left u-tabs u-tabs-1">
                    <ul class="u-border-4 u-border-white u-spacing-10 u-tab-list u-unstyled" role="tablist">
                      <li class="u-tab-item" role="presentation">
                        <a class="active u-active-palette-1-light-1 u-border-1 u-border-white u-button-style u-palette-4-light-2 u-radius-5 u-tab-link u-text-active-white u-text-body-alt-color u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">10₪</a>
                      </li>
                      <li class="u-tab-item" role="presentation">
                        <a class="u-active-palette-1-light-1 u-border-1 u-border-white u-button-style u-palette-4-light-2 u-radius-5 u-tab-link u-text-active-white u-text-body-alt-color u-tab-link-2" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false">50₪</a>
                      </li>
                      <li class="u-tab-item u-tab-item-3" role="presentation">
                        <a class="u-active-palette-1-light-1 u-border-1 u-border-white u-button-style u-palette-4-light-2 u-radius-5 u-tab-link u-text-active-white u-text-body-alt-color u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">100₪</a>
                      </li>
                      <li class="u-tab-item u-tab-item-4" role="presentation">
                        <a class="u-active-palette-1-light-1 u-border-1 u-border-white u-button-style u-palette-4-light-2 u-radius-5 u-tab-link u-text-active-white u-text-body-alt-color u-tab-link-4" id="tab-93fc" href="#link-tab-93fc" role="tab" aria-controls="link-tab-93fc" aria-selected="false">200₪</a>
                      </li>
                    </ul>
                    <div class="u-tab-content">
                      <div class="u-align-center u-container-style u-palette-1-light-1 u-shape-rectangle u-tab-active u-tab-pane u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
                        <div class="u-container-layout u-container-layout-2">
                          <p class="u-align-center u-text u-text-2" spellcheck="false"><b>For 10₪ you are supplying 3 meals for teenagers who do not have the comfort of having one at home </b>
                          </p>
                        </div>
                      </div>
                      <div class="u-align-center u-container-style u-palette-1-light-1 u-shape-rectangle u-tab-pane u-tab-pane-2" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                          <p class="u-align-center u-text u-text-3" spellcheck="false"><b>For 50₪ you are providing the teenagers with supplies for the countless activities that take place in our club, giving the teenagers new and interesting opportunities to learn and enjoy from that aren’t always available at their school or at home.&nbsp;</b>
                          </p>
                        </div>
                      </div>
                      <div class="u-align-center u-container-style u-palette-1-light-1 u-shape-rectangle u-tab-pane u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
                        <div class="u-container-layout u-container-layout-4">
                          <p class="u-align-center u-text u-text-4" spellcheck="false"><b>For 100₪ you are taking part in the first steps towards building the environment we envision in our club, from the furniture to the decoration and privacy, as well as our therapists and the club foundation.</b>
                          </p>
                        </div>
                      </div>
                      <div class="u-align-center u-container-style u-palette-1-light-1 u-shape-rectangle u-tab-pane u-tab-pane-4" id="link-tab-93fc" role="tabpanel" aria-labelledby="tab-93fc">
                        <div class="u-container-layout u-valign-middle u-container-layout-5">
                          <p class="u-text u-text-5" spellcheck="false"><b>For 200₪ you are providing Aster with the resources needed to take action immediately, from starting work on expanding new clubs throughout numerous schools and providing the teenagers there with the full Aster comfort. On top of this the teenagers are provided with the supplies and service from all the other smaller donations.&nbsp;</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-layout-cell u-size-29 u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-container-layout u-container-layout-6">
                  <h2 class="u-text u-text-default u-text-6" spellcheck="false">WHY ASTER?</h2>
                  <p class="u-text u-text-7" spellcheck="false"><b>Aster takes the steps required in the direction which ensures that the world's youth and younger generations will not have to go through the horrific experience of family violence. By introducing aster in schools, incorporating therapists and activities in the Aster clubs for the teenagers who suffer from family violence, aster can build a brighter future.Aster maintains its presence in schools as well, not only for therapy across the school’s students but for the increase of knowledge on the topic of family violence, in order to encourage teenagers all across the world to stand up and take action against family violence.</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-custom-html u-custom-html-1">
          <style></style>
          <script src="https://www.paypal.com/sdk/js?client-id=AaTokEewLeWu7GfglOWW32IxLB9KTQzSrq1lFVh4BzS9HECKtuv-HWJQNgSHwvJf7XOzgIrShrq0YFCX"></script>
          <script> paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01' } }] }); },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID
          })
        });
      });
    }
  }).render('#paypal-button-container'); </script>
          <center>
            <div id="paypal-button-container"></div>
          </center>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-883e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">Donating through BIT, phone or Bank transfer</h2>
        <p class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">If you prefer to donate through <b><u>BIT</u></b>; <a href="tel:+972 532855494" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">+972 532855494</a>.<br>
          <br>To donate through phone; <b><u>call</u></b>
          <a href="tel:+972533408990" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">+972 533408990</a>.<br>
          <br><b><u>Bank transfer:<br></u></b>Bank Leumi - 10<br>Branch Number - 601<br>Bank Number - 74949531<br>רוברט חליל חנא
        </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="carousel_5347">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" data-animation-name="jackInTheBox" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">our sponsors</h2>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <img src="{{url_for('static',filename='images/logo.png')}}" alt="" class="u-image u-image-contain u-image-default u-image-1" data-image-width="373" data-image-height="139" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <h4 class="u-text u-text-default u-text-2"> academic union</h4>
                      <p class="u-text u-text-default u-text-3" spellcheck="false"> The Academic Union -&nbsp;The Assembly of Arab Union for the Development of Education and Culture (AU) was founded in 2006 in collaboration with scholars and graduates. The principal goal of the AU is to raise the academic and educational level of students in the Arab community in Israel by creating and supporting innovative projects.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <img src="{{url_for('static',filename='images/23380207_227747581095831_7871303110929615589_n.png')}}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="559" data-image-height="559" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                      <h4 class="u-text u-text-default u-text-4">Namal College Haifa</h4>
                      <p class="u-text u-text-default u-text-5" spellcheck="false"> Accommodation and education - recognized certificate - sign a work contract and graduate in the academic port area: no psychometric, comfortable days and hours, student card for discounts and travel</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-4" id="sec-0817">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-text u-text-1" spellcheck="false">Aster Headquarters</h2>
                  <p class="u-text u-text-2" spellcheck="true"> IASA - Chaim E. Kolitz Rd 1, Jerusalem</p>
                  <p class="u-text u-text-3">+972 533408990</p>
                  <p class="u-text u-text-4">moin.mattar1@gmail.com</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-expanded u-grey-10 u-map u-map-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                    <div class="embed-responsive">
                      <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=%E2%80%8BIASA%20-%20Chaim%20E.%20Kolitz%20Rd%201%2C%20Jerusalem&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLXBvaW50JTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMiVFMiU4MCU4QklBU0ElMjAtJTIwQ2hhaW0lMjBFLiUyMEtvbGl0eiUyMFJkJTIwMSUyQyUyMEplcnVzYWxlbSUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a418"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">© All the rights are reserved for Aster<br>Made with ❤ by Aster's developers
        </p>
      </div></footer><span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px" class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base u-spacing-15" data-href="#">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
        <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>
  </body>
</html>