<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Shop</title>
        <link rel="stylesheet"  href="{{url_for('static',filename='css/nicepage.css') }}" media="screen">
        <link rel="stylesheet"  href="{{url_for('static',filename='css/Shop.css') }}" media="screen">
     <script src="{{url_for('static', filename='js/jquery.js')}}" class="u-script" type="text/javascript" defer=""></script>
  <script src="{{url_for('static', filename='js/nicepage.js')}}" class="u-script" type="text/javascript" defer=""></script>
    <link rel="icon" href="{{url_for('static',filename='images/Untitled_Artwork_2.png')}}">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Aster",
		"logo": "images/Untitled.png"
}</script>
    <meta name="theme-color" content="#803bec">
    <meta property="og:title" content="Shop">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-header u-valign-middle u-header" id="sec-8624" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><a href="Home.html#sec-b1b6" data-page-id="508795" class="u-image u-logo u-image-1" data-image-width="1920" data-image-height="907" title="Home">
        <img src="{{url_for('static',filename='images/Untitled.png')}}" class="u-logo-image u-logo-image-1" data-image-width="200.1772">
      </a><nav data-position="" class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XL">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
          <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-grey-80" href="#" style="padding: 2px 0px; font-size: calc(1em + 4px);">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Page-4.html" style="padding: 10px 20px;">About Us</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 20px;">Contact Us</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 20px;">Donate</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Shop.html" style="padding: 10px 20px;">Page 1</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="ShopSpecific.html" style="padding: 10px 20px;">Page 1</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Page-1.html" style="padding: 10px 20px;">Page 1</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
                           <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 18px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_27c0" style="padding: 18px 20px;">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-a9ff" style="padding: 18px 20px;">Contact Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Donate.html" style="padding: 18px 20px;">Donate</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><nav class="u-align-right u-hidden-xs u-menu u-menu-dropdown u-offcanvas u-menu-2" data-responsive-from="MD">
        <div class="menu-collapse" style="font-size: 1.125rem;">
          <a class="u-button-style u-nav-link" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-b1b6" data-page-id="508795">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_27c0" data-page-id="508795">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-6626" data-page-id="508795">Our Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-a9ff" data-page-id="508795">Contact Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_6589" data-page-id="508795">Sponsor</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Donate.html">Donate</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-b1b6" data-page-id="508795">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_27c0" data-page-id="508795">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-6626" data-page-id="508795">Our Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-a9ff" data-page-id="508795">Contact Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#carousel_6589" data-page-id="508795">Sponsor</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Donate.html">Donate</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><nav class="u-align-left u-hidden-xs u-menu u-menu-dropdown u-offcanvas u-menu-3" data-responsive-from="MD">
        <div class="menu-collapse" style="font-size: 1.125rem;">
          <a class="u-button-style u-custom-text-decoration u-nav-link" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-5"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Shop.html#sec-4e2d" data-page-id="516596" style="padding: 10px 20px; text-decoration: underline !important;">Shop</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-6"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Shop.html#sec-4e2d" data-page-id="516596" style="padding: 10px 20px; text-decoration: underline !important;">Shop</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav></header>
    <section class="u-clearfix u-image u-section-1" id="sec-4e2d" data-image-width="1280" data-image-height="722">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-white u-text-1" data-animation-name="fadeIn" data-animation-duration="500" data-animation-delay="0">Shop Aster</h1>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-5494">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0"> “Our wounds are our sources of growth.”</p>
        <div class="u-clearfix u-expanded-width u-gutter-50 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-custom-color-4 u-container-layout u-container-layout-1">
                  <h6 class="u-text u-text-custom-color-6 u-text-2">In Stock</h6>
                  <img class="u-image u-image-default u-image-1" src="{{url_for('static',filename='images/Aster_Bracelets.png')}}" alt="" data-image-width="1350" data-image-height="1080">
                  <h4 class="u-text u-text-3">ASTER BRACELET </h4>
                  <h3 class="u-text u-text-4">3.00$</h3>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-grey-25 u-container-layout u-container-layout-2">
                  <h6 class="u-text u-text-custom-color-7 u-text-5"> Sold Out </h6>
                  <img class="u-image u-image-default u-image-2" src="{{url_for('static',filename='images/case_design.png')}}" alt="" data-image-width="1102" data-image-height="1080">
                  <h4 class="u-text u-text-6">
                    <span style="font-size: 22px;">Phone Cases</span>
                  </h4>
                  <h3 class="u-text u-text-7" spellcheck="false">10.00$</h3>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-custom-color-4 u-container-layout u-container-layout-3">
                  <h6 class="u-text u-text-custom-color-6 u-text-8">In stock</h6>
                  <img class="u-align-center-xs u-image u-image-default u-image-3" src="{{url_for('static',filename='images/Cap-Mockup-Free-1.png')}}" alt="" data-image-width="1080" data-image-height="1080">
                  <h4 class="u-text u-text-9">
                    <span style="font-size: 22px;">Aster Cap</span>
                  </h4>
                  <h3 class="u-text u-text-10" spellcheck="false">18.00$</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-0000">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-gutter-50 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-custom-color-4 u-container-layout u-container-layout-1">
                  <h6 class="u-text u-text-custom-color-6 u-text-1">In Stock</h6>
                  <img class="u-align-center-xs u-image u-image-default u-image-1" src="{{url_for('static',filename='images/tf.jpg')}}" alt="" data-image-width="1200" data-image-height="1200">
                  <h4 class="u-text u-text-2"> CLASSIC ARCH T-SHIRT </h4>
                  <h3 class="u-text u-text-3" spellcheck="false">25.00$</h3>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-custom-color-4 u-container-layout u-container-layout-2">
                  <h6 class="u-text u-text-custom-color-6 u-text-4">In stock </h6>
                  <img class="u-align-center-xs u-image u-image-default u-image-2" src="{{url_for('static',filename='images/NotebookSh.png')}}" alt="" data-image-width="505" data-image-height="631">
                  <h4 class="u-text u-text-5">
                    <span style="font-size: 22px;"></span>5 x 7 ASTER NOTEBOOK 
                  </h4>
                  <h3 class="u-text u-text-6" spellcheck="false">7.00$</h3>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-grey-25 u-container-layout u-container-layout-3">
                  <h6 class="u-text u-text-custom-color-7 u-text-7"> Sold Out </h6>
                  <img class="u-image u-image-default u-image-3" src="{{url_for('static',filename='images/hghg.jpg')}}" alt="" data-image-width="300" data-image-height="300" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                  <h4 class="u-text u-text-8">
                    <span style="font-size: 1.375rem;">Aster </span>Drawstring Bag
                  </h4>
                  <h3 class="u-text u-text-9" spellcheck="false">18.00$</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_e85e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-50 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <div class="u-border-2 u-border-grey-25 u-container-layout u-container-layout-1">
                  <img class="u-image u-image-default u-image-1" src="{{url_for('static',filename='images/Untitled.png')}}" alt="" data-image-width="1920" data-image-height="907">
                  <a href="Donate.html#sec-41d8" data-page-id="508791" class="u-border-0 u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-16 u-btn-1">Donate</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="sec-94d6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-b495" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Enter your Name" id="name-b495" name="name-b495" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-b495" class="u-form-control-hidden u-label"></label>
              <input type="email" placeholder="Enter a valid email address" id="email-b495" name="email-b495" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-phone u-form-group-3">
              <label for="phone-5bb3" class="u-form-control-hidden u-label"></label>
              <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Enter your phone (e.g. +972533408990)" id="phone-5bb3" name="phone-5bb3" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-select u-form-group-4">
              <label for="select-acc6" class="u-form-control-hidden u-label"></label>
              <div class="u-form-select-wrapper">
                <select id="select-acc6" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                  <option value="Aster Bracelet">Aster Bracelet</option>
                  <option value="Phone Cases">Phone Cases</option>
                  <option value="Aster Cap">Aster Cap</option>
                  <option value="Classic Arch T-shirt">Classic Arch T-shirt</option>
                  <option value="Notebook">Notebook</option>
                  <option value="Drawsting bag">Drawsting bag</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="text-42bf" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Quantity" id="text-42bf" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required" maxlength="2">
            </div>
            <div class="u-form-address u-form-group u-form-group-6">
              <label for="address-32ea" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Enter your address" id="address-32ea" name="address" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
            </div>
            <div class="u-align-right u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-3 u-btn-1">Submit</a>
              <input type="submit" value="submit" name="" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Thank you for buying from Aster shop. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
        <div class="u-clearfix u-custom-html u-custom-html-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
          <style></style>
          <script src="https://www.paypal.com/sdk/js?client-id=AaTokEewLeWu7GfglOWW32IxLB9KTQzSrq1lFVh4BzS9HECKtuv-HWJQNgSHwvJf7XOzgIrShrq0YFCX"></script>
          <script> paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '20' } }] }); },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID
          })
        });
      });
    }
  }).render('#paypal-button-container'); </script>
          <center>
            <div id="paypal-button-container"></div>
          </center>
        </div>
        <img class="u-image u-image-default u-image-1" src="{{url_for('static',filename='images/Untitled_Artwork_2.png')}}" alt="" data-image-width="400" data-image-height="167">
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a418"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">© All the rights are reserved for Aster<br>Made with ❤ by Aster's developers
        </p>
      </div></footer><span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px" class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base u-spacing-15" data-href="#">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
        <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>
  </body>
</html>